.checkbtn{
  font-size: 1rem;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}


@media only screen and (max-width:320px){
    .image-size{
        width:100%;
        border: 1px solid black;
    }
    .content{
        /* border: 1px solid white; */
        margin-top: -80px;
    }
    .tag{
        height:2rem;
        margin-left:-5.5rem;
    }
    /* .menu{
        margin:1.5rem -7rem 0rem -7rem;
    } */
    /* .menu li a{
        padding: 0;
        font-size: 1rem;
    } */
    .checkbtn{
        display: block;
        margin-right: 15rem;
        margin-top: -3rem;
    }
    .menu{
        position:fixed;
        width:90%;
        height:auto;
        background: #2c3e50;
        /* top: 80px; */
        left:-100%;
        /* text-align: center; */
        transition: all .5s;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .menu li{
        border: 1px solid black;
        display: block;
        margin: 50px 10rem;
      }
      #Home ul li a{
        font-size: 1rem;
      }
      #Home a:hover,#Home a.active{
        background: none;
        color: #0082e6;
      }
      #check:checked ~ ul{
        left: 0%;
      }
}